@font-face {
    font-family: boldmonolisa;
    src: url(monolisa_bold.otf);
}

@font-face {
    font-family: monolisa;
    src: url(monolisa.ttf);
}

:root {
    --text-color: #009aff;
    --button-background: #242424;
    --github-text: #ffffff;
    --github-border: #ffffff;
    --github-hover-background: #ffffff;
    --github-hover-text: #000000;
    --youtube-text: #ff0000;
    --youtube-border: #ff0000;
    --youtube-hover-background: #ff0000;
    --youtube-hover-text: rgb(255, 255, 255);
    --twitch-text: #9147fe;
    --twitch-border: #9147fe;
    --twitch-hover-background: #9147fe;
    --twitch-hover-text: rgb(255, 255, 255);
}

body {
    background-image: url('dark_binary.jpg');
    background-size: 1450px;
    background-attachment: fixed;
    margin: 0px;
}

div {
    padding: 100px;
    font-size: 50px;
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    background: transparent;
    text-align: center;
}

p {
    text-align: center;
}

.github-view {
    background-color: transparent;
    color: var(--github-text);
    padding: 10px 28px;
    text-align: center;
    font-size: 16px;
    font-family: boldmonolisa;
    border-radius: 8px;
    border: 2px solid var(--github-border);
}

.github-view:hover {
    transition-duration: 0.4s;
    background-color: var(--github-hover-background);
    color: var(--github-hover-text);
    box-shadow: 0 0 50px white;
}

.youtube-view {
    background-color: transparent;
    color: var(--youtube-text);
    padding: 10px 28px;
    text-align: center;
    font-size: 16px;
    font-family: boldmonolisa;
    border-radius: 8px;
    border: 2px solid var(--youtube-border);
}

.youtube-view:hover {
    transition-duration: 0.4s;
    background-color: var(--youtube-hover-background);
    color: var(--youtube-hover-text);
    box-shadow: 0 0 50px #ff0000;
}

.twitch-view {
    background-color: transparent;
    color: var(--twitch-text);
    padding: 10px 28px;
    text-align: center;
    font-size: 16px;
    font-family: boldmonolisa;
    border-radius: 8px;
    border: 2px solid var(--twitch-border);
}

.twitch-view:hover {
    transition-duration: 0.4s;
    background-color: var(--twitch-hover-background);
    color: var(--twitch-hover-text);
    box-shadow: 0 0 50px #9147fe;
}

#home-button {
    margin: 2px;
    text-align: left;
    color: #ffffff;
}

#home-button:hover {
    transition-duration: 0.4s;
    color: #242424;
}

.card {
    border: 4px solid #009aff;
    border-radius: 10px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    font-family: monolisa;
    margin-left: auto;
    margin-right: auto;
}

.proj-view {
    background-color: transparent;
    color: #009aff;
    padding: 10px 28px;
    text-align: center;
    font-size: 16px;
    font-family: boldmonolisa;
    border-radius: 8px;
    border: 2px solid #009aff;
}

.proj-view:hover {
    transition-duration: 0.4s;
    background-color: #009aff;
    color: #000000;
}